.container-grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.3fr 0.7fr 2.8fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "header header header"
      ". todo-list ."
      "footer footer footer";
  }
  
nav{
    grid-area: nav; 
    background-color: rgb(26, 54, 212); 
}

.nav { 
    height: 5vw;
}

.nav ul{
    font-size: 1vw;
}



header { 
    grid-area: header;
    background-color: blueviolet; 
}

.header-container{
    display: flex;
    justify-content: center;
}

.header{
    margin: 0 auto;
    color: chartreuse;
}
/* ********* */


.todo-list { 
    grid-area: todo-list; 
    justify-self: center;
    width: 90%; 
    padding-top: 1vw;
    background-color: chocolate;
    margin: 0 auto;
    
}

.todo-form {
    margin: 0 auto;
    padding: 1vw;
    background-color: blanchedalmond;
    width: 50vw; 

}

.todo-items{
    margin: 1vw auto 0 auto;
    background-color: aquamarine;
    min-width: 1fr;
    width: 50vw;; 
}

.footer { 
    grid-area: footer; 
}
