@import url("styles_responsive_menu.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
  }
body {
    font-family: sans-serif;
    font-family: 'Inconsolata', monospace, sans-serif;
    font-size: 16px;
    /* background-color: blue; */
}
.main-container {
    width: 100vw;
    /* min-height: 100vw; */
    display: grid;
    grid-template-rows: auto 45px;
    grid-template-areas: 
        /* "header" */
        "main"
        "footer";
}
/* --- MAIN LAYOUT --- */

.main-container > header {
    grid-area: header;
}
.main-container > main {
    grid-area: main;
}
.main-container > footer {
    grid-area: footer;
}

.todo-list-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw 0.5vw;
}
.todo-list-app ul {
    list-style-type: none;
    /* justify-content: left; */
}
.todo-form {
    padding-top: 15px;
}
.todo-input-text {
    align-self: center;
    padding: 10px;
}
.todo-add-btn {
    display: inline-flex;
    flex-direction: row;
    align-self: baseline;
    color: green;
    font-size: 2em;
    border:none;
    background-color: transparent;

}
.todo-list {
    /* width: 100vw; */
    /* width:max-content; */
    display: flex;
    margin: 15px 1vw 10px 1vw;
    padding: 1vw;
    /* box-sizing: border-box; */
}
/* each li with class="item" */
.todo-item {
    display: flex;
    flex-direction: row;
    /* min-width: 25vw; */
    max-width: 90vw;;
    background-color: rgb(204, 204, 204);
    padding: 0.5vw;
    font-size: 1.1rem;
    /* border-top: 1px dashed;
    border-bottom: 1px dashed; */
  }
.todo-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.todo-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
/* .todo-item:nth-child(odd) {
    background-color: aqua;
} */
.todo-checkbox {
    margin-right: 10px;
}
.todo-item-text {
    flex-grow: 1;
      /*  overflow settings for long items
     - prevent any wrapping
     - hide the overflow
     - replace with ... to indicate more */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */  
}
/* .todo-delete {

} */
.todo-delete-btn {
    float: right;
    border: none;
    outline: none;
    /* border-radius: 7px; */
    padding: 2px 0.5vw;
    margin-left: 10px;
    /* color: #050505; */
    background-color:transparent;
}
  /* applied when the todo item is checked */
.todo-checked { 
    text-decoration: line-through;
    color: #63626275;
    /* background-color: rgba(228, 228, 228, 0.4); */
    background-color: rgb(245, 245, 245);

}

footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-top: dashed gray;
}
