@import url("styles_responsive_menu.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
  }
body {
    font-family: sans-serif;
    font-size: 16px;
}
.site {
    width: 100vw;
    /* min-height: 100vw; */
    display: grid;
    grid-template-rows: 60px auto 45px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}
/* --- MAIN LAYOUT --- */

.site > header {
    grid-area: header;
}
.site > main {
    grid-area: main;
}
.site > footer {
    grid-area: footer;
}

.todo-list-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vw 0.5vw;
}
.todo-list-app ul {
    list-style-type: none;
    /* justify-content: left; */
}
/* Mobile */
.todo-form {
    padding-top: 15px;
}
.todo-list {
    /* width: 100vw; */
    /* width:max-content; */
    display: flex;
    justify-content: center;
    margin: 15px 1vw 10px 1vw;
    padding: 1vw;
    /* box-sizing: border-box; */
}
/* each li with class="item" */
.todo-item {
    display: flex;
    flex-direction: row;
    /* min-width: 25vw; */
    max-width: 90vw;;
    background-color: rgb(228, 228, 228);
    padding: 0.5vw;
    font-size: 1.1rem;
  }
.todo-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.todo-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.todo-checkbox {
    margin-right: 10px;
}
.todo-item-text {
    flex-grow: 1;
      /*  overflow settings for long items
     - prevent any wrapping
     - hide the overflow
     - replace with ... to indicate more */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-wrap: break-word; */  
}
.todo-delete {

}
.todo-delete-btn {
    float: right;
    border: none;
    outline: none;
    /* border-radius: 7px; */
    padding: 2px 0.5vw;
    margin-left: 10px;
    /* color: #050505; */
    background-color:transparent;
}
  /* applied when the todo item is checked */
.todo-checked { 
    text-decoration: line-through;
    color: #63626275;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(247, 147, 172);
    height: 45px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
